@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&family=Festive&family=Sora:wght@200&display=swap');
import '@fontsource/Anton/400.css';
import '@fontsource/raleway/400.css';
import '@fontsource/open-sans/700.css';

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

p {
	font-family: 'Lato';
	font-size: 20px;
}

h4 {
	font-family: 'Sora';
	font-size: 100px;
	color: white;
}
